[Unit]
Description=Build smallstep bootstrap image
Requires=k8s-network-configured.target
After=k8s-network-configured.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=manifest apply step-ca-bootstrap
ExecStartPost=resource-ready --wait step-ca-bootstrap
