[Unit]
Description=Enrolls a TPM-bound disk encryption key
Requires=boot.mount
After=boot.mount
ConditionSecurity=uefi-secureboot
ConditionPathExists=/var/lib/phxc/node.yaml
ConditionPathExists=/run/initramfs/disk-encryption.key

[Install]
WantedBy=cryptsetup-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=bash -ec '[[ $(get-config /var/lib/phxc/node.yaml disk-encryption auto) =~ ^tpm|auto$ ]] || return 1'
ExecStart=systemd-cryptenroll \
  --unlock-key-file /run/initramfs/disk-encryption.key \
  --tpm2-device=auto --tpm2-pcrs=7,14 --wipe-slot=2 \
  /dev/disk/by-partuuid/${DATA_UUID}
