[Unit]
Description=Retrieve the node-config
DefaultDependencies=no
Requires=systemd-timesyncd.service authn-key.service
Wants=mount-boot.service initial-node-state.service
After=mount-boot.service systemd-timesyncd.service authn-key.service initial-node-state.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=download-node-config -f /run/initramfs/node-config.json
