[Unit]
Description=Set the hostname using the node-config
DefaultDependencies=no
Requires=verify-configs.service
After=verify-configs.service
Before=initrd.target
ConditionPathExists=/efi/phxc/node.json

[Install]
WantedBy=initrd.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=jq -re .hostname /efi/phxc/node.json
ExecStart=/bin/sh -e
StandardInputText=hostname=$(jq -re .hostname /efi/phxc/node.json); \
                  printf "%%s\\n" "$hostname" >/sysroot/etc/hostname; \
                  hostsFile=$(/sysroot/usr/bin/grep -vF 127.0.1.1 /sysroot/etc/hosts); \
                  printf "127.0.1.1       %%s %%s\\n%%s\\n" "$hostname" "${hostname%%%%'.'*}" "$hostsFile" >/sysroot/etc/hosts
