[Unit]
Description=Copy admin.sshKeys from /boot/phxc/cluster.json to /home/admin/.ssh/authorized_keys
DefaultDependencies=no
RequiresMountsFor=/boot /sysroot
Before=initrd.target
ConditionPathExists=!/sysroot/home/admin/.ssh/authorized_keys
ConditionPathExists=/boot/phxc/cluster.json

[Install]
WantedBy=initrd.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -e
StandardInputText=jq -r '.admin.sshKeys[]' /boot/phxc/cluster.json >/sysroot/home/admin/.ssh/authorized_keys
