[Unit]
Description=Create the overlay working & upper directories
DefaultDependencies=no
RequiresMountsFor=/overlay/rw
Before=sysroot.mount

[Install]
RequiredBy=sysroot.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=mkdir /overlay/rw/work /overlay/rw/upper
