[Unit]
Description=Use the TPM to decrypt the data partition
DefaultDependencies=no
Requires=sysroot.mount
After=sysroot.mount
ConditionKernelCommandLine=!phxc.diskenc-nopw

[Install]
WantedBy=initrd.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=ln -s crypttab.tpm2 /sysroot/etc/crypttab
