[Unit]
Description=Generate the disk encryption key using the RPi OTP memory
DefaultDependencies=no
Before=cryptsetup-empty-pw.service
ConditionKernelCommandLine=!phxc.empty-pw

[Install]
WantedBy=initrd.target

[Service]
Type=oneshot
RemainAfterExit=yes
UMask=0077
ExecCondition=sh -ec 'rpi-otp-private-key -c -o 0 -l 8'
ExecStartPre=mkdir /run/cryptsetup-keys.d
ExecStart=rpi-otp-disk-encryption-key /run/cryptsetup-keys.d/data.key
ExecStart=sh -c 'printf "Encrypt=key-file\n" >>/etc/repart.d/60-data.conf'
