[Unit]
Description=Generate the disk encryption key using the RPi OTP memory
DefaultDependencies=no
Requires=sysroot.mount
After=sysroot.mount
ConditionKernelCommandLine=!phxc.diskenc-nopw

[Install]
WantedBy=initrd.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=ln -s crypttab.rpi-otp /sysroot/etc/crypttab
