[Unit]
Description=Grow the filesystem on the boot partition by rebuilding it
DefaultDependencies=No
Requires=systemd-repart.service
After=systemd-repart.service systemd-journal.service
Before=boot.mount local-fs-pre.target system-systemd\x2dfsck.slice

[Install]
WantedBy=local-fs-pre.target

[Service]
RemainAfterExit=yes
Type=oneshot
ExecCondition=sh -ec '[ $(fat32-size /dev/disk/by-partuuid/${BOOT_UUID}) -le $(( 500 * 1024 * 1024 )) ] || exit 1'
ExecStart=sh -e
StandardInputText=devpath=/dev/disk/by-partuuid/${BOOT_UUID}; tmppath=/run/initramfs/boot-tmp; \
                  mkdir $tmppath; \
                  mcopy -sQmi $devpath ::/ $tmppath; \
                  wipefs -a $devpath; \
                  mkfs.vfat -F 32 $devpath; \
                  mcopy -sQmi $devpath $tmppath/* ::/; \
                  rm -rf $tmppath
