[Unit]
Description=Mount the root squashfs image
Requires=verify-rootimg.service
After=verify-rootimg.service

[Mount]
What=/boot/phxc/root.${ROOT_SHA256}.img
Where=/overlay/image
Options=ro,noatime,loop
Type=squashfs
