[Unit]
Description=Restore the machine-id from /boot/phxc/machine-id
DefaultDependencies=no
RequiresMountsFor=/boot
ConditionPathExists=/boot/phxc/machine-id

[Install]
WantedBy=initrd.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=cp /boot/phxc/machine-id /run/machine-id
