[Unit]
Description=Restore the machine-id from /efi/phxc/machine-id
DefaultDependencies=no
RequiresMountsFor=/efi
ConditionPathExists=/efi/phxc/machine-id

[Install]
WantedBy=initrd.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=cp /efi/phxc/machine-id /run/machine-id
