[Unit]
Description=Create the overlay tmpfs
Requires=sysroot.mount
After=sysroot.mount
Before=initrd-root-fs.target

[Install]
WantedBy=initrd-root-fs.target

[Mount]
What=/overlay/rw/upper
Where=/sysroot/mnt/overlay-upper
Type=none
Options=bind
