[Unit]
Description=Verify the shasum of the root image
DefaultDependencies=no
RequiresMountsFor=/boot
Before=overlay-image.mount

[Install]
RequiredBy=overlay-image.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=sha256sum -c /usr/share/phxc/root.img.sha256sum
ExecStartPost=cp /usr/share/phxc/root.img.sha256 /run/initramfs/root.img.sha256
StandardOutput=journal+console
