[Unit]
Description=Verifies and validates all config files on the efi partition
DefaultDependencies=no
RequiresMountsFor=/sysroot
Wants=configure-authorized-keys.service
After=configure-authorized-keys.service
Before=initrd.target

[Install]
RequiredBy=initrd.target

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=PATH=/sysroot/usr/local/bin:/sysroot/usr/bin
ExecStart=/sysroot/usr/bin/bash
StandardInputText=PKGROOT=/sysroot/usr/local/lib/upkg/.upkg/phxc; LOGPROGRAM=verify-configs; source "$PKGROOT/.upkg/records.sh/records.sh"; \
                  for basename in cluster.json node.json rpi-otp.json; do \
                    filepath=/efi/phxc/$basename schema=$PKGROOT/lib/schemas/$basename; \
                    [[ -e $filepath ]] || { info "%%s not found, skipping" "$filepath"; continue; }; \
                    [[ -e $filepath.sig ]] || { info "%%s.sig not found, skipping %%s" "$filepath" "$filepath"; continue; }; \
                    ssh-keygen -q -Y verify -f <(sed 's/^/admin /g' </sysroot/home/admin/.ssh/authorized_keys) -I admin -n file -s "$filepath.sig" <"$filepath" || \
                      fatal "Failed to verify signature of %%s using the admin authorized_keys" "$filepath"; \
                    [[ ! -e $schema ]] || validation_errors=$(jsonschema-cli -i "$filepath" "$schema" 2>&1) || \
                      fatal 'Failed to validate "%%s". Errors: %%s' "$filepath" "$validation_errors"; \
                    info "Verified and validated %%s" "$filepath"; \
                  done
StandardOutput=journal+console
