[Unit]
Description=Check if the home-cluster secureboot certificate is enrolled in the MOK DB
Before=keylime_agent.service systemd-logind.service
OnFailure=enroll-sb-cert.service

[Install]
WantedBy=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/local/lib/upkg/.upkg/home-cluster/workloads/bootstrap/bin/enroll-sb-cert --dry-run
