[Unit]
Description=Ensure that the home-cluster secureboot certificate is enrolled in the MOK DB
FailureAction=reboot

[Service]
Type=oneshot
ExecStart=/usr/local/lib/upkg/.upkg/home-cluster/workloads/bootstrap/bin/enroll-sb-cert
StandardError=journal+console
