[Unit]
Description=Configure systemd-networks using node-config
DefaultDependencies=no
After=systemd-networkd.service
AssertPathExists=/var/lib/phxc/node.yaml

[Install]
WantedBy=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=get-config /var/lib/phxc/node.yaml fixedIPs
ExecStart=bash -e
StandardInputData=for macaddr in $(yq -r '(.fixedIPs // {}) | keys[]' /var/lib/phxc/node.yaml); do \
  yq -r --arg macaddr "$macaddr" '\
    ([.fixedIPs[$macaddr][] | "Address=\(.)"] | join("\n")) as $addrs | \
    "[Match]\nMACAddress=\($macaddr)\n[Network]\n\($addrs)\n"' \
    > /etc/systemd/network/${macaddr//:/-}.network \
  done
ExecStart=-systemctl reload systemd-networkd
