[Unit]
Description=Apply all manifests
Requires=resource-ready@cilium.service install-control-plane-packages.service
After=resource-ready@cilium.service install-control-plane-packages.service

[Install]
WantedBy=k3s@server.service

[Service]
Type=oneshot
Restart=on-failure
RestartSec=15s
Environment=HOME=/root KUBECONFIG=/etc/rancher/k3s/k3s.yaml \
  PATH=/var/lib/phxc/control-plane-pkgs/.upkg/.bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecCondition=bash -ec '! /usr/local/lib/upkg/.upkg/phoenix-cluster/bin/manifest latest-applied-all'
ExecStart=/usr/local/lib/upkg/.upkg/phoenix-cluster/bin/manifest apply all
TimeoutSec=1200
