[Unit]
Description=Install packages needed to run the kubernetes control-plane
Requires=var-lib-phxc.mount
After=var-lib-phxc.mount install-node-packages.service
ConditionPathExists=!/var/lib/phxc/.upkg/manifests

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -e
StandardInputText=upkg add -fp control-plane /usr/local/lib/upkg/.upkg/phoenix-cluster/workloads/node/bootstrap/assets/control-plane.upkg.json; \
                  upkg add -fp manifests /usr/local/lib/upkg/.upkg/phoenix-cluster/workloads/common-context/manifests.upkg.json
WorkingDirectory=/var/lib/phxc
