[Unit]
Description=Setup smallstep
Requires=setup-cert-manager.service build-step-ca-bootstrap.service setup-longhorn.service
After=setup-cert-manager.service build-step-ca-bootstrap.service setup-longhorn.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=manifest apply smallstep
ExecStartPost=resource-ready --wait smallstep
