[Unit]
Description=Setup CoreDNS
Requires=configure-cilium.service apply-network-policies.service
After=configure-cilium.service apply-network-policies.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=manifest apply coredns
ExecStartPost=resource-ready --wait coredns
