[Unit]
Description=Copy the rootimg from /boot to /run/initramfs
DefaultDependencies=no
Requires=boot.mount
After=boot.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=cp /boot/phxc/root.${ROOT_SHA256}.img /run/initramfs/root.${ROOT_SHA256}.img.tmp
ExecStart=sh -c 'echo "${ROOT_SHA256}  /run/initramfs/root.${ROOT_SHA256}.img.tmp" | sha256sum -c -'
ExecStart=mv /run/initramfs/root.${ROOT_SHA256}.img.tmp /run/initramfs/root.${ROOT_SHA256}.img
