[Unit]
Description=Copy the rootimg from /boot to /run/initramfs
Requires=mount-boot.service
After=mount-boot.service
AssertPathExists=/boot/phxc/root.img

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=cp /boot/phxc/root.${ROOT_SHA256}.img /run/initramfs/root.img.tmp
ExecStart=sha256sum -c -
StandardInputText=${ROOT_SHA256}  /run/initramfs/root.img.tmp
ExecStartPost=mv /run/initramfs/root.img.tmp /run/initramfs/root.img
