[Unit]
Description=Copy the rootimg from /boot to /run/initramfs
Requires=mount-boot.service
After=mount-boot.service
AssertPathExists=/boot/phxc/root.img

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=cp /boot/phxc/root.${ROOT_SHA256}.img /run/initramfs/root.img.tmp
ExecStart=bash -ec 'sha256sum -c - <<<"${ROOT_SHA256}  /run/initramfs/root.img.tmp"'
ExecStart=mv /run/initramfs/root.img.tmp /run/initramfs/root.img
