[Unit]
Description=Mount the root squashfs image
Requires=copy-rootimg.service
After=copy-rootimg.service

[Mount]
What=/run/initramfs/root.${ROOT_SHA256}.img
Where=/overlay/image
Options=ro,noatime,loop
Type=squashfs
