[Unit]
Description=Mount the root squashfs image
Requires=copy-rootimg.service
After=copy-rootimg.service
Before=initrd-root-fs.target

[Install]
WantedBy=initrd-root-fs.target

[Mount]
Where=/sysroot
What=/run/initramfs/root.${ROOT_SHA256}.img
Options=ro,loop
Type=squashfs
