[Unit]
Description=Verify the rootimg SHA-256 sum
ConditionPathExists=/run/initramfs/root.img.tmp
Requires=create-node-state.service
Wants=copy-rootimg.service
After=copy-rootimg.service
Before=rootimg.target

[Install]
RequiredBy=rootimg.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -ec 'sha256sum -c - <<<"${ROOT_SHA256}  /run/initramfs/root.img.tmp"'
ExecStart=mv /run/initramfs/root.img.tmp /run/initramfs/root.img
