[Unit]
Description=Transfer the secureboot certificate and key from the startup boot-server to kubernetes
Requires=\
  systemd-timesyncd.service keys-persisted.target \
  resource-ready@boot-server.service resource-ready@node-namespace.service
After=\
  systemd-timesyncd.service keys-persisted.target \
  resource-ready@boot-server.service resource-ready@node-namespace.service

[Install]
WantedBy=k3s@server.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=transfer-secureboot-cert check
ExecStart=transfer-secureboot-cert transfer
