[Unit]
Description=Write the secureboot cert to the RPi OTP
ConditionPathExists=/usr/local/share/phxc/secureboot.der

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=true
