[Unit]
Description=Enroll the Phoenix Cluster secureboot cert
Requires=trust-smallstep-root.service
After=trust-smallstep-root.service
ConditionSecurity=tpm2

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=bash -ec '[[ $(get-config /boot/phxc/node.json disk-encryption) =~ ^tpm|auto$ ]] || return 1'
ExecStart=bash -e
StandardInputText=mokutil --import /usr/local/share/phxc/phxc-root.der --hash-file <(get-config /etc/phxc/cluster.json admin.pwhash)
