[Unit]
Description=Write the phoenix-cluster secureboot cert to the RPi OTP
ConditionPathExists=/usr/local/lib/phxc/secureboot.der

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=true
