[Unit]
Description=Encrypt the data partition
DefaultDependencies=no
Requires=expand-data-partition.service
After=expand-data-partition.service
Before=systemd-cryptsetup@data.service

[Install]
RequiredBy=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=bash -ec "! cryptsetup isLuks /dev/disk/by-partuuid/${DATA_UUID}"
ExecStart=cryptsetup luksFormat --batch-mode /dev/disk/by-partuuid/${DATA_UUID} /etc/phxc/disk-encryption.static.key
