[Unit]
Description=Expand the data partition
DefaultDependencies=no
Before=systemd-cryptsetup@data.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -eo pipefail
StandardInputText=until diskpath=$(lsblk -JO | jq -re '.blockdevices[] | select(.ptuuid=="${DISK_UUID}") | .path'); do sleep .1; done; \
                  parted -sfa optimal -- "$diskpath" resizepart 2 100%
# cryptsetup resize
