[Unit]
Description=Expand the data partition
DefaultDependencies=no
Requires=dev-disk-by\x2dpartuuid-6f07821d\x2dbb94\x2d4d0f\x2d936e\x2d4060cadf18d8.device
After=dev-disk-by\x2dpartuuid-6f07821d\x2dbb94\x2d4d0f\x2d936e\x2d4060cadf18d8.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -eo pipefail
StandardInputText=diskpath=$(lsblk -JO | jq -re --arg disk_uuid ${DISK_UUID} '.blockdevices[] | select(.ptuuid==$disk_uuid) | .path'); \
                  parted -sfa optimal -- "$diskpath" resizepart 2 100%%
