[Unit]
Description=Format the encrypted data partition
DefaultDependencies=no
Requires=systemd-cryptsetup@data.service
After=systemd-cryptsetup@data.service

[Install]
WantedBy=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=bash -ec 'lsblk -Jno FSTYPE /dev/mapper/data | jq -re ".blockdevices[0].fstype == null" >/dev/null'
ExecStart=mkfs.ext4 /dev/mapper/data
