[Unit]
Description=Create a swapfile at /var/swap
DefaultDependencies=no
RequiresMountsFor=/var
Before=var-swap.swap
ConditionPathExists=!/var/swap

[Install]
WantedBy=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=mkswap -U clear --size 2G --file /var/swap
