[Unit]
Description=Shutdown dropbear before starting up ssh
DefaultDependencies=no
Before=ssh.service
After=dropbear.service systemd-cryptsetup@data.service

[Install]
WantedBy=systemd-cryptsetup@data.service

[Service]
ExecStart=systemctl stop dropbear.service
