[Unit]
Description=Unenrolls the empty disk encryption key
ConditionKernelCommandLine=!phxc.empty-pw

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=-bash -eo pipefail
StandardInputText=empty_pw=$(mktemp); \
                  cryptsetup luksRemoveKey /dev/disk/by-partuuid/${DATA_UUID} "$empty_pw" ;\
                  rm "$empty_pw"
