[Unit]
Description=Remove /boot/phxc/node.yaml
DefaultDependencies=no
Requires=boot.mount
After=boot.mount
ConditionPathExists=/boot/phxc/node.yaml
AssertPathExists=/var/lib/phxc/node.yaml

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=rm /var/lib/phxc/node.yaml
