[Unit]
Description=Configur k3s server settings
Before=pre-k3s.target

[Install]
RequiredBy=k3s@server.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=bash -ec '[ $(get-config -q node k3s.mode) = server ]'
ExecStart=bash -eo pipefail
StandardInputText=jq -n \
  --arg cluster_cidrs_pod_ipv4 "$(get-config cluster cidrs.pod.ipv4)" \
  --arg cluster_cidrs_pod_ipv6 "$(get-config cluster cidrs.pod.ipv6)" \
  --arg cluster_cidrs_svc_ipv4 "$(get-config cluster cidrs.svc.ipv4)" \
  --arg cluster_cidrs_svc_ipv6 "$(get-config cluster cidrs.svc.ipv6)" \
  --arg cluster_domain "$(get-config cluster domain)" \
  '{ \
    "cluster-cidr": [$cluster_cidrs_pod_ipv4, $cluster_cidrs_pod_ipv6], \
    "service-cidr": [$cluster_cidrs_svc_ipv4, $cluster_cidrs_svc_ipv6], \
    "kube-controller-manager-arg": ["node-cidr-mask-size-ipv4=24", "node-cidr-mask-size-ipv6=120"], \
    "tls-san": ["api." + $cluster_domain] \
  }' \
  >/etc/rancher/k3s/config.yaml.d/cluster.yaml
