[Unit]
Description=Set k3s node-label
Before=pre-k3s.target

[Install]
WantedBy=k3s.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -eo pipefail
StandardInputText=jq -n \
  --argjson labels "$(get-config -q node labels || printf '[]')" \
  --arg sha256 "$(cat /run/initramfs/root.img.sha256)" \
  --arg variant ${VARIANT} \
  --arg debug ${DEBUG} \
  '{"node-label": (.labels + [\
    "cluster.local/rootimg-sha256=" + $sha256[0:8],\
    "cluster.local/debug=" + $debug,\
    "cluster.local/variant=" + $variant\
  ])}' \
  >/etc/rancher/k3s/config.yaml.d/node-label.yaml
StandardError=journal
