[Unit]
Description=Install packages needed to run the kubernetes node
Requires=var-lib-phxc.mount
After=var-lib-phxc.mount install-smallstep.service network-online.target
Before=pre-k3s.target

[Install]
RequiredBy=k3s.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=upkg add -fp node /usr/local/lib/upkg/.upkg/phxc/bootstrap/assets/node.upkg.json
WorkingDirectory=/var/lib/phxc
