[Unit]
Description=Install packages needed to run the kubernetes node
Requires=var-lib-phxc.mount
After=var-lib-phxc.mount install-smallstep.service
Before=pre-k3s.target
ConditionPathExists=!/var/lib/phxc/.upkg/node

[Install]
RequiredBy=k3s.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -e
StandardInputText=upkg add -fp node /usr/local/lib/upkg/.upkg/phoenix-cluster/bootstrap/assets/node.upkg.json
WorkingDirectory=/var/lib/phxc
