[Unit]
Description=Report the node-state to the boot-server
DefaultDependencies=no
Requires=systemd-timesyncd.service authn-key.service
After=systemd-timesyncd.service configure-networks.service systemd-networkd-wait-online.service \
  authn-key.service keys-persisted.target \
  boot-partition.target persistent-partition.target \
  configure-hostname.service configure-network.service

[Install]
WantedBy=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=submit-node-state
