[Unit]
Description=Set k3s node-label
ConditionPathExists=/boot/phxc/node.yaml
Before=k3s@server.service k3s@agent.service

[Install]
RequiredBy=k3s@server.service k3s@agent.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -eo pipefail
StandardInputText=get-config /boot/phxc/node.yaml | yq -y '{"node-label": .labels // []}'
StandardOutput=file:/etc/rancher/k3s/config.yaml.d/node-label.yaml
StandardError=journal
