[Unit]
Description=Set k3s url & token
Before=k3s.target
ConditionPathExists=/boot/phxc/node.yaml
ConditionPathExists=!/etc/rancher/node/password

[Install]
RequiredBy=k3s.target

[Service]
Type=oneshot
ExecCondition=get-config -q /boot/phxc/node.yaml k3s.token
ExecStart=bash -eo pipefail
StandardInputText=get-config /boot/phxc/node.yaml | yq -y '{"server": .k3s.url, "token": .k3s.token}'
StandardOutput=file:/etc/rancher/k3s/config.yaml.d/token.yaml
