[Unit]
Description=Set k3s node-label & token
Wants=copy-cluster-config.service
After=copy-cluster-config.service
Before=k3s.target

[Install]
RequiredBy=k3s@server.service

[Service]
Type=oneshot
ExecStart=bash -eo pipefail
StandardInputText=get-config /etc/phxc/cluster.yaml | yq -y '{ \
    "cluster-cidr": [.cidrs.pod.ipv4 // "${DEFAULT_CLUSTER_CIDRS_POD_IPV4}", .cidrs.pod.ipv6 // "${DEFAULT_CLUSTER_CIDRS_POD_IPV6}"], \
    "service-cidr": [.cidrs.svc.ipv4 // "${DEFAULT_CLUSTER_CIDRS_SVC_IPV4}", .cidrs.svc.ipv6 // "${DEFAULT_CLUSTER_CIDRS_SVC_IPV6}"], \
    "tls-san": ["api.\\(.domain // "${DEFAULT_CLUSTER_DOMAIN}")"] \
  }'
StandardOutput=file:/etc/rancher/k3s/config.yaml.d/cluster.yaml
