[Unit]
Description=Set k3s node-label & token
Before=k3s.target

[Install]
RequiredBy=k3s.target

[Service]
Type=oneshot
ExecCondition=bash -ec '[[ $(get-config -q /boot/phxc/node.yaml k3s.mode ${DEFAULT_NODE_K3S_MODE}) = server ]] || false'
ExecStart=bash -e
StandardInputText=yq -y '{ \
    "cluster-cidr": [.cluster.cidrs.pod.IPV4 // "${DEFAULT_CLUSTER_CIDRS_POD_IPV4}", .cluster.cidrs.pod.IPV6 // "${DEFAULT_CLUSTER_CIDRS_POD_IPV6}"], \
    "service-cidr": [.cluster.cidrs.svc.IPV4 // "${DEFAULT_CLUSTER_CIDRS_SVC_IPV4}", .cluster.cidrs.svc.IPV6 // "${DEFAULT_CLUSTER_CIDRS_SVC_IPV6}"], \
    "tls-san": ["api.\(.cluster.domain // "${DEFAULT_CLUSTER_DOMAIN})"] \
  }' <(get-config /etc/phxc/cluster.yaml)
StandardOutput=file:/etc/rancher/k3s/config.yaml.d/cluster.yaml
