[Unit]
Description=Set k3s node-label
Before=k3s.target
ConditionPathExists=/boot/phxc/node.yaml

[Install]
RequiredBy=k3s.target

[Service]
Type=oneshot
ExecStart=bash -eo pipefail
StandardInputText=get-config /boot/phxc/node.yaml | yq -y '{"node-label": .labels // []}'
StandardOutput=file:/etc/rancher/k3s/config.yaml.d/node-label.yaml
