[Unit]
Description=Install packages needed to run the kubernetes control-plane
Requires=create-data-dir@control-plane-pkgs.service
After=create-data-dir@control-plane-pkgs.service
ConditionPathExists=!/var/lib/phxc/control-plane-pkgs/upkg.json

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -e
StandardInputText=cd /var/lib/phxc/control-plane-pkgs; \
  upkg add /usr/local/lib/upkg/.upkg/phoenix-cluster/workloads/node/bootstrap/assets/control-plane.upkg.json; \
  upkg add /usr/local/lib/upkg/.upkg/phoenix-cluster/workloads/common-context/manifests.upkg.json; \
  apt-get install -qq --no-install-recommends git; \
