[Unit]
Description=Install packages needed to run the kubernetes node
After=install-smallstep.service systemd-networkd-wait-online.service
Before=pre-k3s.target

[Install]
RequiredBy=k3s.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/var/lib/phxc
ExecStart=upkg add -fp nerdctl /usr/local/lib/upkg/.upkg/phxc/bootstrap/assets/nerdctl.upkg.json
ExecStart=upkg add -fp buildkit /usr/local/lib/upkg/.upkg/phxc/bootstrap/assets/buildkit.upkg.json
