[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
Wants=systemd-networkd-wait-online.service
After=systemd-networkd-wait-online.service

[Service]
Type=notify
EnvironmentFile=-/etc/default/%N
EnvironmentFile=-/etc/sysconfig/%N
KillMode=process
Delegate=yes
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s
ExecCondition=bash -ec 'if mode=$(get-config -q /boot/phxc/node.yaml k3s.mode); then [[ $mode = %i ]] || false; \
                        else [[ -e /boot/phxc/cluster.yaml && server = %i ]] || false; fi'
ExecStartPre=ln -sf %i.yaml /etc/rancher/k3s/config.yaml
ExecStartPre=/bin/sh -xc '! /usr/bin/systemctl is-enabled --quiet nm-cloud-setup.service 2>/dev/null'
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
ExecStart=/var/lib/phxc/.upkg/.bin/k3s %i
