[Unit]
Description=/var/lib/rancher/k3s
Requires=create-data-dir@k3s.service
After=create-data-dir@k3s.service
Before=pre-k3s.target kubepods.slice

[Install]
RequiredBy=k3s@server.service k3s@agent.service kubepods.slice

[Mount]
What=/var/lib/phxc/k3s
Where=/var/lib/rancher/k3s
Type=none
Options=bind
