[Unit]
Description=/var/log/pods
Requires=create-data-dir@pods.service
After=create-data-dir@pods.service
Before=pre-k3s.target

[Install]
RequiredBy=k3s@server.service k3s@agent.service

[Mount]
What=/var/lib/phxc/pods
Where=/var/log/pods
Type=none
Options=bind
