[Unit]
Description=Mount the squashfs overlay as root
Requires=overlay-image.mount create-overlay-dirs.service
After=overlay-image.mount create-overlay-dirs.service
Before=initrd-root-fs.target

[Install]
WantedBy=initrd-root-fs.target

[Mount]
What=overlay
Where=/sysroot
Options=noatime,lowerdir=/overlay/image,upperdir=/overlay/rw/upper,workdir=/overlay/rw/work,default_permissions
Type=overlay
