[Unit]
Description=Install packages needed to run the kubernetes control-plane
After=install-node-packages.service systemd-networkd-wait-online.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=bash -ec '[ $(get-config -q node k3s.mode) = server ]'
WorkingDirectory=/var/lib/phxc
ExecStart=upkg add -f /usr/local/lib/upkg/.upkg/phxc/lib/common-context/cilium.upkg.json
ExecStart=upkg add -f /usr/local/lib/upkg/.upkg/phxc/lib/common-context/cidrex.upkg.json
ExecStart=upkg add -f /usr/local/lib/upkg/.upkg/phxc/lib/common-context/kustomize.upkg.json
