[Unit]
Description=Install packages needed to run the kubernetes control-plane
Requires=var-lib-phxc.mount
After=var-lib-phxc.mount install-node-packages.service network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=bash -ec '[ $(get-config -q node k3s.mode) = server ]'
ExecStart=upkg add -fp control-plane /usr/local/lib/upkg/.upkg/phxc/bootstrap/assets/control-plane.upkg.json
WorkingDirectory=/var/lib/phxc
ExecStartPost=ln -s ../../../var/lib/phxc/.upkg/.bin/cilium /usr/local/bin/cilium
ExecStartPost=ln -s ../../../var/lib/phxc/.upkg/.bin/cidrex /usr/local/bin/cidrex
ExecStartPost=ln -s ../../../var/lib/phxc/.upkg/.bin/kustomize /usr/local/bin/kustomize
