[Unit]
Description=The cluster network is fully set up
Requires=k3s@server.service workload@cilium.target workload@network-policies.target workload@coredns.target
After=k3s@server.service workload@cilium.target workload@network-policies.target workload@coredns.target
