[Unit]
Description=The cluster network is fully set up
Requires=workload@cilium.target workload@network-policies.target workload@coredns.target
After=workload@cilium.target workload@network-policies.target workload@coredns.target
