[Unit]
Description=Sets up the %i workload
Requires=install-control-plane-packages.service
After=install-control-plane-packages.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=bash -ec '[ $(get-config -q /boot/phxc/node.json k3s.mode) = server ]'
Environment=HOME=/root KUBECONFIG=/etc/rancher/k3s/k3s.yaml
Restart=on-failure
RestartSec=30
ExecStart=bash -eo pipefail
StandardInputText=kustomize build --enable-alpha-plugins --enable-exec "/usr/local/lib/upkg/.upkg/phxc/workloads/%i" | \
  kpt live apply --request-timeout 5m -
