[Unit]
Description=Waits until the %i workload is ready
Requires=install-node-packages.service
After=install-node-packages.service

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=HOME=/root
ExecStart=/usr/local/lib/upkg/.upkg/phxc/workloads/%i/ready.sh --wait
