[Unit]
Description=/home/${ADMIN_USERNAME}
After=network-online.target

[Install]
WantedBy=multi-user.target

[Mount]
What=${NFSSHARES_ADMINHOME_ADDR}:${NFSSHARES_ADMINHOME_PATH}
Where=/home/${ADMIN_USERNAME}
Type=nfs
