[Unit]
Description=Import images to containerd

[Service]
Type=oneshot
ExecStart=/usr/local/lib/upkg/.upkg/home-cluster/workloads/bootstrap/bin/import-images
