[Unit]
Description=Sign SSH host keys
After=k3s@server.service k3s@client.service apply-all-manifests.service

[Install]
WantedBy=k3s@server.target k3s@agent.target

[Service]
Type=oneshot
Environment=KUBECONFIG=/etc/rancher/k3s/k3s.yaml
ExecStart=/usr/local/lib/upkg/.upkg/home-cluster/workloads/smallstep/bin/ssh-keys sign-host
TimeoutSec=1200
