[Unit]
Description=/var/lib/rancher/k3s/agent/containerd
Requires=var-cache-disk.mount mk-cache-dirs.service
After=var-cache-disk.mount mk-cache-dirs.service
Before=k3s@agent.service k3s@server.service

[Install]
WantedBy=k3s.target

[Mount]
What=/var/cache/disk/containerd
Where=/var/lib/rancher/k3s/agent/containerd
Type=bind
