[Unit]
Description=Copies /boot/phxc/cluster.yaml to /etc/phxc/cluster.yaml
DefaultDependencies=no
Requires=boot.mount
Wants=setup-admin-credentials.service
After=boot.mount setup-admin-credentials.service
Before=configs-available.target
ConditionPathExists=/boot/phxc/cluster.yaml
ConditionPathExists=!/etc/phxc/cluster.yaml

[Install]
WantedBy=configs-available.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -e
StandardInputText=get-config /boot/phxc/cluster.yaml >/etc/phxc/cluster.yaml
