[Unit]
Description=Copies /boot/phxc/cluster.json to /etc/phxc/cluster.json
DefaultDependencies=no
Requires=boot.mount setup-admin-credentials.service
After=boot.mount setup-admin-credentials.service
Before=configs-available.target

[Install]
RequiredBy=configs-available.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -eo pipefail
StandardInputText=[[ -e /etc/phxc/cluster.json ]] || get-config /boot/phxc/cluster.json >/etc/phxc/cluster.json
