[Unit]
Description=Set the admin password
DefaultDependencies=no
Requires=boot.mount
After=boot.mount
Before=cryptsetup-pre.target

[Install]
WantedBy=sysinit.target

[Service]
Type=oneshot
ExecStart=bash -eo pipefail
StandardInputText=if pwhash=$(get-config cluster admin.pwhash); then \
                    usermod -p "$pwhash" admin; \
                    ! $DEBUG || usermod -p "$pwhash" root; \
                  fi
