[Unit]
Description=Setup the admin sudo password & authorized key
ConditionPathExists=/boot/phxc/cluster.yaml
ConditionPathExists=!/home/admin/.ssh/authorized_keys

[Install]
RequiredBy=sysinit.target

[Service]
Type=oneshot
ExecStart=bash -e
StandardInputText=! pwhash=$(get-config -q /workspace/embed-configs/cluster.yaml admin.pw-hash) || usermod -p "$pwhash" admin; \
                  yq -r '.admin.["ssh-keys"][]' /workspace/embed-configs/cluster.yaml > /home/admin/.ssh/authorized_keys
