[Unit]
Description=Setup the admin sudo password & authorized key
DefaultDependencies=no
Requires=boot.mount
After=boot.mount

[Install]
RequiredBy=configs-available.target

[Service]
Type=oneshot
ExecStart=bash -eo pipefail
StandardInputText=[[ ! -e /home/admin/.ssh/authorized_keys ]] || exit 0; \
                  jq -r '.admin["ssh-keys"][]' /boot/phxc/cluster.json > /home/admin/.ssh/authorized_keys; \
                  ! pwhash=$(get-config -q /boot/phxc/cluster.json admin.pwhash) || usermod -p "$pwhash" admin
