[Unit]
Description=Setup the admin sudo password & authorized key
DefaultDependencies=no
Requires=boot.mount
After=boot.mount
ConditionPathExists=/boot/phxc/cluster.json
ConditionPathExists=!/home/admin/.ssh/authorized_keys

[Install]
WantedBy=configs-available.target

[Service]
Type=oneshot
ExecStart=bash -e
StandardInputText=jq -r '.admin["ssh-keys"][]' /boot/phxc/cluster.json > /home/admin/.ssh/authorized_keys; \
                  ! pwhash=$(get-config -q /boot/phxc/cluster.json admin.pwhash) || usermod -p "$pwhash" admin
