[Unit]
Description=/home/${ADMIN_USERNAME}
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Mount]
What=${ADMIN_NFSHOME_ADDR}:${ADMIN_NFSHOME_PATH}
Where=/home/${ADMIN_USERNAME}
Type=nfs
