[Unit]
Description=Apply all manifests
Requires=k3s@server.service install-cilium.service
After=k3s@server.service install-cilium.service

[Install]
WantedBy=k3s@server.service

[Service]
Type=oneshot
Environment=HOME=/root KUBECONFIG=/etc/rancher/k3s/k3s.yaml
ExecCondition=bash -c '! /usr/local/lib/upkg/.upkg/home-cluster/bin/manifest latest-applied-all'
ExecStart=/usr/local/lib/upkg/.upkg/home-cluster/bin/manifest apply all
TimeoutSec=1200
