[Unit]
Description=Cache the downloaded node-config on the boot partition
DefaultDependencies=no
Requires=create-boot-cache-dir.service download-node-config.service
After=create-boot-cache-dir.service download-node-config.service
AssertPathExists=/run/initramfs/node-config.enc.json

[Install]
WantedBy=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=cp /run/initramfs/node-config.enc.json /boot/home-cluster/node-config.enc.json
