[Unit]
Description=Use remote attestation to authenticate with the cluster
ConditionPathExists=/run/initramfs/node-state.json
Before=k3s@agent.service

[Install]
RequiredBy=k3s@agent.service

[Service]
Type=oneshot
ExecStart=/usr/local/lib/upkg/.upkg/home-cluster/workloads/node/bin/cluster-auth login --retry 15
StandardOutput=null
