[Unit]
Description=Collect system details and write them to the node state

[Service]
Type=oneshot
ExecStart=/usr/local/lib/upkg/.upkg/home-cluster/workloads/node/bin/node-state collect

[Install]
WantedBy=multi-user.target
