[Unit]
Description=Collect system details and write them to the node state
Requires=generate-node-key.service
After=generate-node-key.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/lib/upkg/.upkg/home-cluster/workloads/node/bin/node-state collect
