[Unit]
Description=Configure systemd-networks using node-config
DefaultDependencies=no
Requires=node-config.target
After=node-config.target
Before=systemd-networkd.service

[Install]
WantedBy=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=configure-networks
