[Unit]
Description=Copy the node-config from the boot partition
DefaultDependencies=no
Requires=mount-boot.service
After=mount-boot.service decrypt-cached-node-config.service
Before=node-config-available.target
ConditionPathExists=/boot/home-cluster/node-config.enc.json
ConditionPathExists=!/run/initramfs/node-config.json

[Install]
WantedBy=node-config-available.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=cp /boot/home-cluster/node-config.enc.json /run/initramfs/node-config.enc.json
