[Unit]
Description=Copy the node-key from the boot partition
DefaultDependencies=no
ConditionPathExists=/boot/home-cluster/node-key
Requires=mount-boot.service
After=mount-boot.service

[Install]
WantedBy=node-key.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=cp /boot/home-cluster/node-key /run/initramfs/node-key
ExecStart=set-node-state node-key.persisted true true
