[Unit]
Description=Create data directory for bind mounts
Requires=disk-mount-data.service
After=disk-mount-data.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=mkdir -p /var/lib/persistent/%i
