[Unit]
Description=Create data directory for bind mounts
Requires=setup-disk.service
After=setup-disk.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=mkdir -p /var/lib/persistent/%i
