[Unit]
Description=Create data directory for bind mounts
Requires=resource-ready@persistent-mount.target
After=resource-ready@persistent-mount.target

[Service]
ExecStart=mkdir -p /var/lib/persistent/%i
