[Unit]
Description=Decrypt the node-config
DefaultDependencies=no
AssertPathExists=/run/initramfs/node-config.enc.json
Wants=copy-node-config.service download-node-config.service
After=copy-node-config.service download-node-config.service
Before=node-config.target

[Install]
WantedBy=node-config.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=decrypt-node-config /run/initramfs/node-config.enc.json /run/initramfs/node-config.json
