[Unit]
Description=Decrypt the authentication key from the boot partition
DefaultDependencies=no
Requires=mount-boot.service encryption-key-available.target
After=mount-boot.service encryption-key-available.target
Before=generate-authn-key.service authn-key-available.target
ConditionPathExists=!/run/initramfs/authn.key
AssertPathExists=/boot/home-cluster/node-config.enc.json

[Install]
WantedBy=authn-key-available.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -c "jq -re '.keys.authn.[\"encrypted-private\"]' | base64 -d >/run/initramfs/authn.key.enc"
ExecStart=systemd-creds decrypt /run/initramfs/authn.key.enc /run/initramfs/authn.key
