[Unit]
Description=Decrypt the node-config
DefaultDependencies=no
Requires=authn-key-available.target
Wants=copy-node-config.service download-node-config.service
After=copy-node-config.service download-node-config.service authn-key-available.target
Before=node-config-available.target
AssertPathExists=/run/initramfs/node-config.enc.json

[Install]
WantedBy=node-config-available.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=decrypt-node-config /run/initramfs/node-config.enc.json /run/initramfs/node-config.json
