[Unit]
Description=Mount the boot partition on /boot
ConditionPathIsMountPoint=!/boot
Requires=disk-format-boot.service -.mount
After=disk-format-boot.service -.mount

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/lib/upkg/.upkg/home-cluster/workloads/node/bin/disk mount boot
