[Unit]
Description=Download the node-config from the boot-server & decrypt it
DefaultDependencies=no
Requires=systemd-timesyncd.service report-initial-node-state.service
After=systemd-timesyncd.service report-initial-node-state.service
Before=node-config-available.target
AssertPathExists=!/run/initramfs/node-config.enc.json

[Install]
WantedBy=node-config-available.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=download-node-config /run/initramfs/node-config.enc.json
