[Unit]
Description=Sign SSH host keys
After=k3s@server.service k3s@agent.service apply-all-manifests.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
Environment=KUBECONFIG=/etc/rancher/k3s/k3s.yaml
ExecStart=/usr/local/lib/upkg/.upkg/home-cluster/workloads/smallstep/bin/ssh-keys download-ca /etc/ssh/user_ca_keys
TimeoutSec=1200
