[Unit]
Description=Encrypt the authentication key and persist it on the boot partition
DefaultDependencies=no
Requires=create-boot-cache-dir.service generate-authn-key.service report-initial-node-state.service
After=create-boot-cache-dir.service generate-authn-key.service
Before=report-final-node-state.service
ConditionPathExists=!/boot/home-cluster/authn.key.enc
AssertPathExists=/run/initramfs/authn.key

[Install]
WantedBy=report-final-node-state.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=systemd-creds encrypt /run/initramfs/authn.key /boot/home-cluster/authn.key.enc
ExecStart=set-node-state keys.authn.persisted true true
