[Unit]
Description=/etc/rancher/node
DefaultDependencies=no
Requires=create-persistent-dir@node-password.service
After=create-persistent-dir@node-password.service
Before=k3s.target

[Install]
RequiredBy=k3s.target

[Mount]
What=/var/lib/persistent/node-password
Where=/etc/rancher/node
Type=none
Options=bind
