[Unit]
Description=Generate the public authentication key
DefaultDependencies=no
Wants=copy-encryption-key.service generate-authn-key.service
After=copy-encryption-key.service generate-authn-key.service
Before=authn-key-available.target
AssertPathExists=/run/initramfs/authn.key

[Install]
RequiredBy=authn-key-available.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=openssl rsa -in /run/initramfs/authn.key -pubout -out /run/initramfs/authn.pub
ExecStart=bash -c 'set-node-state keys.authn.public "$(cat /run/initramfs/authn.pub)"'
