[Unit]
Description=Generate a new node-key
DefaultDependencies=no
ConditionPathExists=!/run/initramfs/node-key
After=copy-node-key.service

[Install]
WantedBy=node-key.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -c '(umask 0077; openssl genrsa -out /run/initramfs/node-key)'
ExecStart=set-node-state node-key.persisted false true
