[Unit]
Description=Generate a new encryption key
DefaultDependencies=no
Before=keys-available.target
ConditionPathExists=!/var/lib/systemd/credential.secret
ConditionPathExists=!/boot/home-cluster/credential.secret

[Install]
WantedBy=keys-available.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=systemd-creds setup -H
ExecStart=set-node-state keys.encryption.persisted false true
