[Unit]
Description=Import images to containerd
Requires=k3s@server.service k3s@agent.service

[Service]
Type=oneshot
ExecStart=/usr/local/lib/upkg/.upkg/home-cluster/workloads/node/bin/import-images
