[Unit]
Description=Monitor the node configuration

[Service]
Restart=always
RestartSec=1m
Type=simple
ExecStart=/usr/local/lib/upkg/.upkg/home-cluster/workloads/node/bin/download-node-config

[Install]
WantedBy=multi-user.target
