[Unit]
Description=Initialize the disk and mount /boot
ConditionPathIsMountPoint=!/boot
Requires=resource-ready@disk.target
After=resource-ready@disk.target

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/lib/upkg/.upkg/home-cluster/workloads/node/bin/disk mount-boot
