# We have this manual mount unit so we can depend on the proper boot.mount later on.
# Otherwise boot.mount will fail if the disk has not been set up yet
# and we will have to deal with getting it remount etc.
[Unit]
Description=Mount the boot partition
Requires=systemd-udev-settle.service
After=systemd-udev-settle.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=bash -c "lsblk -Jndo FSTYPE /dev/disk/by-partuuid/${BOOT_UUID} | jq -re '.blockdevices[0].fstype == \"vfat\"' >/dev/null"
ExecStart=mount -t vfat PARTUUID=${BOOT_UUID} /boot
