[Unit]
Description=The node-config is available
Requires=keys-available.target
After=keys-available.target report-initial-node-state.service
AssertPathExists=/run/initramfs/node-config.json
