[Unit]
Description=Partition the disk
DefaultDependencies=no
Requires=node-config.target
After=node-config.target
AssertPathExists=/run/initramfs/node-config.json

[Install]
WantedBy=boot-partition.target persistent-partition.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=bash -c "lsblk -Jndo PTUUID \"$(get-node-config disk.devpath)\" | jq -re --arg disk_uuid ${DISK_UUID} '.blockdevices[0].ptuuid != $disk_uuid' >/dev/null"
ExecStart=partition-disk
