[Unit]
Description=Copy the generated encryption key to the boot-partition
DefaultDependencies=no
Requires=create-boot-cache-dir.service node-config-available.target generate-encryption-key.service report-initial-node-state.service
After=create-boot-cache-dir.service node-config-available.target generate-encryption-key.service
Before=report-final-node-state.service
ConditionPathExists=!/boot/home-cluster/credential.secret
AssertPathExists=/var/lib/systemd/credential.secret

[Install]
WantedBy=report-final-node-state.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=cp /var/lib/systemd/credential.secret /boot/home-cluster/credential.secret
ExecStart=set-node-state keys.encryption.persisted true true
