[Unit]
Description=Copy the machine-id to the boot-partition
DefaultDependencies=no
Requires=create-boot-cache-dir.service systemd-machine-id-commit.service
After=create-boot-cache-dir.service systemd-machine-id-commit.service
Before=report-final-node-state.service
ConditionPathExists=!/boot/home-cluster/machine-id
AssertPathExists=/run/machine-id

[Install]
WantedBy=report-final-node-state.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=cp /run/machine-id /boot/home-cluster/machine-id
ExecStart=set-node-state machine-id.persisted true true
