[Unit]
Description=Pull external images to containerd
Requires=workload-ready@k3s.target
After=workload-ready@k3s.target
Before=apply-all-manifests.service

[Install]
WantedBy=k3s@server.service k3s@agent.service

[Service]
Type=oneshot
Restart=on-failure
RestartSec=15s
ExecStart=/usr/local/lib/upkg/.upkg/home-cluster/workloads/node/bin/pull-external-images
