[Unit]
Description=Pull external images to containerd
Requires=resource-ready@k3s.target
After=resource-ready@k3s.target
Before=apply-all-manifests.service

[Install]
WantedBy=k3s.target

[Service]
Type=oneshot
Restart=on-failure
RestartSec=15s
ExecStart=pull-external-images
