[Unit]
Description=Report the initial node-state to the boot-server
DefaultDependencies=no
Requires=keys-available.target
After=keys-available.target

[Install]
WantedBy=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=report-node-state
