[Unit]
Description=Report node state to the registry
Requires=systemd-networkd-wait-online.service generate-node-key.service collect-node-state.service
After=systemd-networkd-wait-online.service generate-node-key.service collect-node-state.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
Restart=on-failure
RestartSec=15s
ExecStart=/usr/local/lib/upkg/.upkg/home-cluster/workloads/node/bin/node-state report
