[Unit]
Description=Populate the node-state with a list of nics & blockdevices
DefaultDependencies=no
Before=report-initial-node-state.service

[Install]
WantedBy=report-initial-node-state.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -c 'set-node-state blockdevices "$(get-blockdevices)" true'
ExecStart=bash -c 'set-node-state nics "$(get-nics)" true'
