[Unit]
Description=Setup the network configuration
DefaultDependencies=no
Requires=-.mount init-node-config.service
After=-.mount init-node-config.service
Before=systemd-networkd.service

[Install]
WantedBy=local-fs-pre.target

[Service]
Type=oneshot
ExecStart=/usr/local/lib/upkg/.upkg/home-cluster/workloads/node/bin/setup-networking
