[Unit]
Description=Initialize and mount the persistent disk
ConditionPathExists=/run/initramfs/node-settings.json
Wants=cluster-auth.service
After=cluster-auth.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
ExecCondition=jq -re '.data.devPath' /run/initramfs/node-settings.json
ExecStart=/usr/local/lib/upkg/.upkg/home-cluster/workloads/node/bin/setup-persistent
