[Unit]
Description=Setup Cluster DNS
Requires=resource-ready@coredns.target
After=resource-ready@coredns.target

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/lib/upkg/.upkg/home-cluster/workloads/coredns/bin/setup-cluster-dns
