[Unit]
Description=Initialize/mount the persistent disk
ConditionPathExists=/run/initramfs/node-settings.json
Requires=systemd-pcrphase.service
After=systemd-pcrphase.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
ExecCondition=jq -re '.data' /run/initramfs/node-settings.json
ExecStart=/usr/local/lib/upkg/.upkg/home-cluster/workloads/node/bin/setup-persistent
