[Unit]
Description=Initialize/mount the persistent disk
ConditionPathExists=/run/initramfs/node-settings.json

[Install]
WantedBy=k3s@agent.target k3s@server.target

[Service]
Type=oneshot
ExecCondition=jq -re '.data' /run/initramfs/node-settings.json
ExecStart=/usr/local/lib/upkg/.upkg/home-cluster/workloads/node/bin/setup-persistent
