[Unit]
Description=Sign SSH host keys
Requires=resource-ready@step-ca.target
After=resource-ready@step-ca.target

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
Environment=KUBECONFIG=/etc/rancher/k3s/k3s.yaml
ExecStart=/usr/local/lib/upkg/.upkg/home-cluster/workloads/smallstep/bin/ssh-keys sign-host
TimeoutSec=1200
