[Unit]
Description=Re-sign SSH host keys every 24h

[Install]
WantedBy=timers.target

[Timer]
OnCalendar=*-*-* 00:00:00
RandomizedDelaySec=86399
FixedRandomDelay=true
Persistent=true
