[Unit]
Description=Update the boot partition with the latest image
Requires=disk-mount-boot.service create-persistent-dir@boot-tmp.service network-online.target
After=disk-mount-boot.service create-persistent-dir@boot-tmp.service network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/lib/upkg/.upkg/home-cluster/workloads/node/bin/update-boot
