[Unit]
Description=Update the boot partition with the latest image
Requires=resource-ready@boot-mount.target create-persistent-dir@boot-tmp.service
After=resource-ready@boot-mount.target create-persistent-dir@boot-tmp.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/lib/upkg/.upkg/home-cluster/workloads/node/bin/update-boot
