[Unit]
Description=/var/lib/persistent
DefaultDependencies=no
Requires=setup-data.service
After=setup-data.service

[Install]
WantedBy=multi-user.target

[Mount]
What=/var/mapper/persistent
Where=/var/lib/persistent
Type=ext4
Options=rw,relatime
