[Unit]
Description=/var/lib/longhorn
DefaultDependencies=no
Requires=setup-persistent.service
After=setup-persistent.service
Before=k3s.target

[Install]
RequiredBy=k3s.target

[Mount]
What=/var/lib/persistent/longhorn
Where=/var/lib/longhorn
Type=none
Options=bind
