[Unit]
Description=/var/lib/rancher/k3s/agent/containerd
Requires=setup-persistent.service
After=setup-persistent.service
Before=k3s@server.service k3s@agent.service

[Install]
RequiredBy=k3s@server.service k3s@agent.service

[Mount]
What=/var/lib/persistent/k3s
Where=/var/lib/rancher/k3s
Type=none
Options=bind
