[Unit]
Description=/var/lib/rancher/k3s/agent/containerd
DefaultDependencies=no
Requires=setup-persistent.service
After=setup-persistent.service
Before=k3s.target

[Install]
RequiredBy=k3s.target

[Mount]
What=/var/lib/persistent/k3s
Where=/var/lib/rancher/k3s
Type=none
Options=bind
