[Unit]
Description=Check if there are updates to the boot image every 24h

[Install]
WantedBy=timers.target

[Timer]
OnCalendar=*-*-* 00:00:00
RandomizedDelaySec=86399
FixedRandomDelay=true
Persistent=true
