[Unit]
Description=Set the hostname using the node-config
DefaultDependencies=no
After=configs-available.target
Before=avahi-daemon.service

[Install]
WantedBy=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -e
StandardInputText=hostname=$(get-config -q /boot/phxc/node.yaml hostname || printf "k8s-%%s.local" "$(sha256sum /etc/machine-id | head -c8)"); \
                  printf "%%s\\n" "$hostname" >/etc/hostname; \
                  hostname -F /etc/hostname; \
                  hostsFile=$(cat /etc/hosts | grep -v 127.0.1.1); \
                  printf "127.0.1.1       %%s %%s\\n%%s\\n" "$hostname" "${hostname%%.local}" "$hostsFile" >/etc/hosts
