[Unit]
Description=Configure systemd-resolved to be able to resolve the cluster domain
Requires=workload-ready@coredns.service
After=systemd-networkd.service workload-ready@coredns.service configs-available.target

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
ExecStart=bash -e
StandardInputText=kubedns_ip=$(kubectl -n kube-system get svc kube-dns -ojsonpath='{.spec.clusterIPs[*]}'); \
  cluster_domain=$(get-config /etc/phxc/cluster.yaml domain); \
  printf "[Resolve]\\nDNS=%%s\\nDomains=~%%s ~cluster.local\\n" "$kubedns_ip" "$cluster_domain" \
  >/etc/systemd/resolved.conf.d/cluster-domain.conf
ExecStartPost=systemctl reload systemd-resolved
