[Unit]
Description=Configure systemd-networks using node-config
DefaultDependencies=no
Before=network-pre.target
ConditionPathExists=/boot/phxc/node.json

[Install]
WantedBy=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=get-config node fixedips
ExecStart=bash -eo pipefail
StandardInputText=for macaddr in $(jq -r '(.fixedips // {}) | keys[]' /boot/phxc/node.json); do \
    jq -r --arg macaddr "$macaddr" '\
      ([.fixedips[$macaddr][] | "Address=\\(.)"] | join("\\n")) as $addrs | \
      "[Match]\\nMACAddress=\\($macaddr)\\n[Network]\\n\\($addrs)\\n"' \
      /boot/phxc/node.json> /etc/systemd/network/${macaddr//:/-}.network \
  done
