[Unit]
Description=Configure systemd-networks using node-config
DefaultDependencies=no
Wants=setup-admin-credentials.service
After=setup-admin-credentials.service
Before=network-pre.target
ConditionPathExists=/boot/phxc/node.yaml

[Install]
WantedBy=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=get-config /boot/phxc/node.yaml fixed-ips
ExecStart=bash -e
StandardInputText=for macaddr in $(yq -r '(.["fixed-ips"] // {}) | keys[]' /boot/phxc/node.yaml); do \
    yq -r --arg macaddr "$macaddr" '\
      ([.["fixed-ips"][$macaddr][] | "Address=\\(.)"] | join("\\n")) as $addrs | \
      "[Match]\\nMACAddress=\\($macaddr)\\n[Network]\\n\\($addrs)\\n"' \
      > /etc/systemd/network/${macaddr//:/-}.network \
  done
