[Unit]
Description=Set k3s url & token
Before=k3s.target
ConditionPathExists=/boot/phxc/node.yaml
ConditionPathExists=!/etc/rancher/node/password

[Install]
RequiredBy=k3s@agent.service
WantedBy=k3s@server.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=get-config -q /boot/phxc/node.yaml k3s.token
ExecStart=bash -eo pipefail
StandardInputText=yq -ny \
  --arg k3s_url "$(get-config /boot/phxc/node.yaml k3s.url)" \
  --arg k3s_url "$(get-config /boot/phxc/node.yaml k3s.token)" \
  '{"server": .k3s.url, "token": .k3s.token}'
StandardOutput=file:/etc/rancher/k3s/config.yaml.d/token.yaml
StandardError=journal
