[Unit]
Description=Install Cilium in K3S
Documentation=https://docs.cilium.io/en/stable/installation/k3s/
Requires=resource-ready@k3s.service
Wants=copy-cluster-config.service install-control-plane-packages.service
After=resource-ready@k3s.service install-control-plane-packages.service copy-cluster-config.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=bash -ec '! kubectl get -n kube-system deployment cilium-operator -o name'
ExecStart=bash -eo pipefail
StandardInputText=cidr_pod_ipv4=$(get-config /etc/phxc/cluster.yaml cidrs.pod.ipv4); \
  cidr_pod_ipv6=$(get-config /etc/phxc/cluster.yaml cidrs.pod.ipv6); \
  /var/lib/phxc/.upkg/.bin/cilium install --version=1.15.5 \
    --set ipam.mode=cluster-pool \
    --set ipam.operator.clusterPoolIPv4PodCIDRList=$cidr_pod_ipv4 \
    --set ipam.operator.clusterPoolIPv6PodCIDRList=$cidr_pod_ipv6 \
    --set ipam.operator.clusterPoolIPv4MaskSize=${cidr_pod_ipv4#*/} \
    --set ipam.operator.clusterPoolIPv6MaskSize=${cidr_pod_ipv6#*/} \
    --set k8sServiceHost=127.0.0.1 \
    --set k8sServicePort=6444 \
    --set bgpControlPlane.enabled=true \
    --set ipv6.enabled=true \
    --set bpf.masquerade=true \
    --set enableIPv6Masquerade=false \
    --set envoy.enabled=false \
    --set hubble.enabled=false \
    --set hubble.relay.gops.enabled=false \
    --set kubeProxyReplacement=true \
    --set encryption.enabled=true \
    --set encryption.type=wireguard \
    --set encryption.nodeEncryption=true \
    --set socketLB.enabled=true \
    --set kubeConfigPath=/etc/rancher/k3s/k3s.yaml; \
    kubectl patch -n kube-system cm cilium-config --patch "$( \
      printf "\ndata:\n  ipv4-service-range: \"%%s\"\n  ipv6-service-range: \"%%s\"\n" \
        "$(get-config /etc/phxc/cluster.yaml cidrs.svc.ipv4)" \
        "$(get-config /etc/phxc/cluster.yaml cidrs.svc.ipv6)")"
ExecStartPost=resource-ready --wait cilium
