[Unit]
Description=Phoenix Cluster is started and configured
Requires=k3s-network-ready.target workload@smallstep.target workload@node.target
After=k3s-network-ready.target workload@smallstep.target workload@node.target

[Install]
WantedBy=k3s.target
