[Unit]
Description=Bootstrap phxc root trust for step-cli
Requires=install-smallstep.service
After=install-smallstep.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -eo pipefail
StandardInputText=jq -n --arg fp "$(step certificate fingerprint /var/lib/rancher/k3s/server/tls/server-ca.crt)" \
  '{ \
    "ca-url": "https://kube-server-ca.smallstep.svc.cluster.local:9000", \
    "fingerprint": $fp, \
    "root": "/var/lib/rancher/k3s/server/tls/server-ca.crt", \
    "redirect-url": "" \
  }' \
  >/root/.step/config/defaults.json
