[Unit]
Description=Install step-cli
Requires=var-lib-phxc.mount
After=var-lib-phxc.mount
ConditionPathExists=!/var/lib/phxc/.upkg/step-cli

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -e
StandardInputText=upkg add -f /usr/local/lib/upkg/.upkg/phxc/lib/common-context/step-cli.upkg.json
WorkingDirectory=/var/lib/phxc
