[Unit]
Description=Download and trust the smallstep root certificate
Requires=workload-ready@smallstep.service configure-resolved.service
After=workload-ready@smallstep.service configure-resolved.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=curl -k --no-progress-meter --retry 1000 -o/usr/local/share/ca-certificates/phxc-root.crt https://step-ca.smallstep.svc.cluster.local:9000/roots.pem
ExecStartPost=update-ca-certificates
