[Unit]
Description=Bootstrap the smallstep CA for the root user
Requires=trust-smallstep-root.service
After=trust-smallstep-root.service
AssertPathExists=/usr/local/share/ca-certificates/phoenix-cluster-root.crt

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -e
StandardInputText=jq -n --arg fp "$(step certificate fingerprint /usr/local/share/ca-certificates/phoenix-cluster-root.crt)" \
  '{ \
    "ca-url": "https://step-ca.smallstep.svc.cluster.local:9000", \
    "fingerprint": $fp, \
    "root": "/usr/local/share/ca-certificates/phoenix-cluster-root.crt", \
    "redirect-url": "" \
  }'
StandardOutput=file:/root/.step/config/defaults.json
