[Unit]
Description=Set k3s node-label & token
Wants=copy-cluster-config.service
After=copy-cluster-config.service
Before=k3s@server.service

[Install]
RequiredBy=k3s@server.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -eo pipefail
StandardInputText=yq -ny \
  --arg cluster_cidrs_pod_ipv4 "$(get-config /etc/phxc/cluster.yaml cidrs.pod.ipv4)" \
  --arg cluster_cidrs_pod_ipv6 "$(get-config /etc/phxc/cluster.yaml cidrs.pod.ipv6)" \
  --arg cluster_cidrs_svc_ipv4 "$(get-config /etc/phxc/cluster.yaml cidrs.svc.ipv4)" \
  --arg cluster_cidrs_svc_ipv6 "$(get-config /etc/phxc/cluster.yaml cidrs.svc.ipv6)" \
  --arg cluster_domain "$(get-config /etc/phxc/cluster.yaml domain)" \
  '{ \
    "cluster-cidr": [$cluster_cidrs_pod_ipv4, $cluster_cidrs_pod_ipv6], \
    "service-cidr": [$cluster_cidrs_svc_ipv4, $cluster_cidrs_svc_ipv6], \
    "kube-controller-manager-arg": ["node-cidr-mask-size-ipv4=24", "node-cidr-mask-size-ipv6=112"], \
    "tls-san": ["api." + $cluster_domain] \
  }'
StandardOutput=file:/etc/rancher/k3s/config.yaml.d/cluster.yaml
StandardError=journal
