[Unit]
Description=Set the hostname using the node-config
DefaultDependencies=no
ConditionPathExists=/run/initramfs/node-config.json
Requires=node-config.service
After=node-config.service
Before=avahi-daemon.service

[Install]
WantedBy=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -ec ':;\
  hostname=$(get-node-config hostname);\
  printf "%%s\n" "$hostname" >/etc/hostname;\
  hostname -F /etc/hostname;\
  hostsFile=$(cat /etc/hosts | grep -v 127.0.1.1);\
  printf "127.0.1.1       %%s %%s\n%%s\n" "$hostname" "$${hostname%%.local}" "$hostsFile" >/etc/hosts'
