[Unit]
Description=Clear the reboot lease
Requires=k3s.target
After=k3s.target

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
ExecStart=try-reboot clear
