[Unit]
Description=Clear the reboot lease
Requires=resource-ready@k3s.service
After=resource-ready@k3s.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
ExecStart=try-reboot clear
