[Unit]
Description=Update the boot partition with the latest image
Requires=boot.mount resource-ready@image-registry.service
After=boot.mount resource-ready@image-registry.service clear-lease.service switch-boot.service

[Install]
WantedBy=sysinit.target

[Service]
Type=oneshot
ExecStart=update-boot
