[Unit]
Description=Populate the EFI boot menu with Phoenix Cluster entries
RequiresMountsFor=/boot
Before=update-boot.service
ConditionFirmware=uefi

[Install]
WantedBy=multi-user.target
RequiredBy=update-boot.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=efi-bootentry add /boot/EFI/BOOT/BOOT${EFI_ARCH}.EFI "Phoenix Cluster"
ExecStart=efi-bootentry add /boot/EFI/BOOT/BOOT.TRY.EFI "Phoenix Cluster (new image)"
ExecStart=efi-bootentry deactivate /boot/EFI/BOOT/BOOT.TRY.EFI
