[Unit]
Description=Populate the EFI boot menu with Phoenix Cluster entries
RequiresMountsFor=/efi

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=efi-bootentry add /efi/EFI/BOOT/BOOT${EFI_ARCH}.EFI "Phoenix Cluster"
ExecStart=efi-bootentry add /efi/EFI/BOOT/BOOT.TRY.EFI "Phoenix Cluster (new image)"
ExecStart=efi-bootentry deactivate /efi/EFI/BOOT/BOOT.TRY.EFI
