[Unit]
Description=Remove the failed UKI or boot.img
RequiresMountsFor=/efi
Requires=k3s.target
After=k3s.target
ConditionPathExists=/efi/phxc/pending.sha256

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=bash -c '! diff -q /run/initramfs/root.img.sha256 /efi/phxc/pending.sha256'
ExecStart=mv /efi/phxc/pending.sha256 /efi/phxc/failed.sha256
ExecStart=rm -f /efi/EFI/BOOT/BOOT.TRY.EFI /efi/tryboot.img /efi/tryboot.sig
