[Unit]
Description=Permanently switch to the new image
Requires=boot.mount
After=boot.mount remove-failed-boot.service
ConditionPathExists=/boot/phxc/pending.sha256

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=diff -q /run/initramfs/root.img.sha256 /boot/phxc/pending.sha256
ExecStart=bash -eo pipefail
StandardInputText=if [[ ${VARIANT} = rpi* ]]; then mv /boot/tryboot.img /boot/boot.img; \
                  else mv /boot/EFI/BOOT/BOOT.TRY.EFI /boot/EFI/BOOT/BOOT${EFI_ARCH}.EFI; fi
ExecStartPost=rm /boot/phxc/pending.sha256
