[Unit]
Description=Permanently switch to the new image
RequiresMountsFor=/efi
After=remove-failed-boot.service
ConditionPathExists=/efi/phxc/pending.sha256

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=diff -q /run/initramfs/root.img.sha256 /efi/phxc/pending.sha256
ExecStart=bash -eo pipefail
StandardInputText=if [[ ${VARIANT} = rpi* ]]; then mv /efi/tryboot.img /efi/boot.img; \
                  else mv /efi/EFI/BOOT/BOOT.TRY.EFI /efi/EFI/BOOT/BOOT${EFI_ARCH}.EFI; fi
ExecStartPost=rm /efi/phxc/pending.sha256
