[Unit]
Description=Depending on whether we are running the new boot image, make it permanent or delete it
Requires=boot.mount k3s.target
After=boot.mount k3s.target
ConditionPathExists=|/boot/tryboot.img
ConditionPathExists=|/boot/EFI/BOOT/BOOT.TRY.EFI

[Install]
WantedBy=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=update-boot switch
