[Unit]
Description=Update the boot partition with the latest image and reboot into it
RequiresMountsFor=/boot
Requires=workload-ready@image-registry.service workload-ready@bootstrap.service init-efi-bootmenu.service
After=workload-ready@image-registry.service workload-ready@bootstrap.service init-efi-bootmenu.service uncordon.service switch-boot.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
ExecStart=update-boot -r
