[Unit]
Description=Update the boot partition with the latest image and reboot into it
Requires=boot.mount workload-ready@bootstrap.service
After=boot.mount workload-ready@bootstrap.service uncordon.service switch-boot.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
ExecStart=update-boot -r
