[Unit]
Description=Enrolls a disk encryption key derived from the RPi OTP memory
Requires=boot.mount data-partition.target
After=boot.mount data-partition.target rpi-init-otp.service
Before=disk-encryption-keys-enrolled.target
ConditionPathExists=/run/initramfs/disk-encryption.key

[Install]
WantedBy=disk-encryption-keys-enrolled.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=bash -ec '[[ $(get-config /boot/phxc/node.yaml disk-encryption) == rpi-otp ]] || return 1'
ExecCondition=bash -ec 'rpi-otp-private-key -c \
  -o $(get-config /boot/phxc/rpi-otp.yaml offset) \
  -l $(get-config /boot/phxc/rpi-otp.yaml length)'
ExecStart=bash -ec ':;\
  o=$(get-config /boot/phxc/rpi-otp.yaml offset); \
  l=$(get-config /boot/phxc/rpi-otp.yaml length); \
  s=(get-config /boot/phxc/rpi-otp.yaml key-derivation-suffix) \
  openssl kdf \
    -kdfopt info:"disk-encryption-key-$s" -keylen 32 \
    -kdfopt digest:SHA3-512 -kdfopt hexkey:"$(rpi-otp-private-key -o $o -l $l | xxd -p -c0)" \
    -out /run/initramfs/disk-encryption.rpi-otp.key -binary HKDF; \
    cryptsetup luksAddKey --key-file /run/initramfs/disk-encryption.key --new-key-slot 2 \
    /dev/disk/by-partuuid/${DATA_UUID} /run/initramfs/disk-encryption.rpi-otp.key'
