[Unit]
Description=Enrolls a disk encryption key that can be downloaded from the cluster
Requires=data-partition.target
After=data-partition.target
Before=disk-encryption-keys-enrolled.target
ConditionSecurity=!uefi-secureboot
ConditionPathExists=/run/initramfs/disk-encryption.key

[Install]
WantedBy=disk-encryption-keys-enrolled.target

[Service]
Type=oneshot
RemainAfterExit=yes
# ExecCondition=bash -ec '[[ $(get-config /boot/phxc/node.yaml disk-encryption ${DEFAULT_NODE_DISK_ENCRYPTION}) =~ ^online-insecure|auto$ ]] || return 1'
# ExecStart=systemd-cryptenroll --unlock-key-file /run/initramfs/disk-encryption.key --tpm2-device=auto --wipe-slot=2 /dev/disk/by-partuuid/${DATA_UUID}
