[Unit]
Description=Enrolls a disk encryption recovery key
Requires=var-lib-phxc.mount
After=var-lib-phxc.mount
Before=disk-encryption-keys-enrolled.target
ConditionPathExists=/run/initramfs/disk-encryption.key
ConditionPathExists=!/var/lib/phxc/disk-encryption-recovery.key

[Install]
WantedBy=disk-encryption-keys-enrolled.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=systemd-cryptenroll \
  --unlock-key-file /run/initramfs/disk-encryption.key \
  --recovery-key --wipe-slot=1 \
  /dev/disk/by-partuuid/${DATA_UUID}
StandardOutput=file:/var/lib/phxc/disk-encryption-recovery.key
