[Unit]
Description=Enrolls a disk encryption recovery key
Requires=data-partition.target
After=data-partition.target
Before=disk-encryption-keys-enrolled.target
ConditionPathExists=/run/initramfs/disk-encryption.key
ConditionPathExists=!/var/lib/phxc/disk-encryption-recovery.key

[Install]
WantedBy=disk-encryption-keys-enrolled.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=systemd-cryptenroll \
  --unlock-key-file /run/initramfs/disk-encryption.key \
  --recovery-key --wipe-slot=1 \
  /dev/disk/by-partuuid/${DATA_UUID}
StandardOutput=/var/lib/phxc/disk-encryption-recovery.key
