[Unit]
Description=Populate the RPi OTP memory with random data
Requires=boot.mount
After=boot.mount
ConditionPathExists=/boot/phxc/node.yaml

[Install]
WantedBy=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=bash -ec '[[ $(get-config /boot/phxc/node.yaml disk-encryption ${DEFAULT_NODE_DISK_ENCRYPTION}) == rpi-otp ]] || return 1'
ExecCondition=bash -ec '! rpi-otp-private-key -c \
  -o $(get-config /boot/phxc/rpi-otp.yaml offset ${DEFAULT_RPI_OTP_OFFSET}) \
  -l $(get-config /boot/phxc/rpi-otp.yaml length ${DEFAULT_RPI_OTP_LENGTH})'
ExecStart=bash -ec ':;\
  o=$(get-config /boot/phxc/rpi-otp.yaml offset ${DEFAULT_RPI_OTP_OFFSET}); \
  l=$(get-config /boot/phxc/rpi-otp.yaml length ${DEFAULT_RPI_OTP_LENGTH}); \
  echo rpi-otp-private-key -w -o $o -l $l "$(openssl rand -hex $((l*2)))"'
