[Unit]
Description=Download SSH User CA keys
Requires=workload-ready@smallstep.service bootstrap-smallstep.service
After=workload-ready@smallstep.service bootstrap-smallstep.service ssh.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
Environment=HOME=/root
ExecStart=/var/lib/phxc/.upkg/.bin/step ssh config --host --roots
StandardOutput=file:/etc/ssh/user_ca_keys
StandardError=journal
ExecStartPost=systemctl reload ssh
