[Unit]
Description=Link /var/lib/rancher and /var/lib/kubelet into the persistent volume
Requires=var-lib-persistent.mount
After=var-lib-persistent.mount
Before=k3s.service
ConditionPathExists=!/var/lib/rancher
ConditionPathExists=!/var/lib/kubelet

[Install]
RequiredBy=k3s.service

[Service]
Type=oneshot
ExecStart=\
  mkdir -p /var/lib/persistent/lib-rancher /var/lib/persistent/lib-kubelet ; \
  ln -s /var/lib/persistent/lib-rancher /var/lib/rancher ; \
  ln -s /var/lib/persistent/lib-kubelet /var/lib/kubelet
