[Unit]
Description=Mount the home-cluster share
After=network-online.target

[Install]
WantedBy=multi-user.target

[Mount]
What=${NFSSHARES_HOMECLUSTER_ADDR}:${NFSSHARES_HOMECLUSTER_PATH}
Where=/var/lib/home-cluster
Type=nfs
