[Unit]
Description=Initialize systemd credential key
DefaultDependencies=no
Wants=mount-boot.service surrogate-key.service
After=mount-boot.service surrogate-key.service
ConditionPathExists=!/var/lib/systemd/credential.secret

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -c ':;\
  umask 0377;\
  if [[ -e /boot/home-cluster/credential.secret.enc ]]; then\
    surrogate-key decrypt /boot/home-cluster/credential.secret.enc /var/lib/systemd/credential.secret;\
  elif [[ -e /boot/home-cluster/credential.secret ]]; then\
    cp /boot/home-cluster/credential.secret /var/lib/systemd/credential.secret;\
  else\
    systemd-creds setup;\
  fi'
