[Unit]
Description=If systemd-pcrlock fails generate a secret file containing random data for key derivation
DefaultDependencies=no
Wants=mount-boot.service
After=mount-boot.service systemd-pcrlock-make-policy.service
Before=surrogate-key.service
ConditionPathExists=!/run/initramfs/random-secret.bin

[Install]
RequiredBy=surrogate-key.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=systemctl is-failed -q systemd-pcrlock-make-policy
ExecStart=bash -c ':;\
  umask 0377;\
  if [[ -e /boot/home-cluster/random-secret.bin ]]; then\
    cp /boot/home-cluster/random-secret.bin /run/initramfs/random-secret.bin;\
  else\
    openssl rand -out /run/initramfs/random-secret.bin 64;\
  fi'
