[Unit]
Description=Write the Raspberry PI 5 OTP secret to ramdisk
DefaultDependencies=no
Before=generate-surrogate-key.service
ConditionPathExists=!/run/initramfs/random-secret.bin

[Install]
RequiredBy=generate-surrogate-key.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=rpi-otp-private-key -c
ExecStart=bash -c 'rpi-otp-private-key -l 16 -b >/run/initramfs/random-secret.bin'
