[Unit]
Description=Write the Raspberry PI 5 OTP secret to ramdisk
DefaultDependencies=no
Before=random-secret.service surrogate-key.service
ConditionPathExists=!/run/initramfs/random-secret.bin

[Install]
RequiredBy=surrogate-key.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=rpi-otp-private-key -c
ExecStart=bash -ec 'openssl kdf \
  -kdfopt info:"disk-encryption-key-$(disk-encryption-key-derivation-index)" -keylen 32 \
  -kdfopt digest:SHA3-512 -kdfopt hexkey:"$(rpi-otp-private-key -l 16 | xxd -p -c0)" \
  -out /run/initramfs/disk-encryption-key \
  -binary HKDF disk-encryption-key-$(disk-encryption-key-derivation-index) 32'
