[Unit]
Description=Apply all manifests
Requires=resource-ready@cilium.target
After=resource-ready@cilium.target

[Install]
WantedBy=k3s@server.service

[Service]
Type=oneshot
Restart=on-failure
RestartSec=15s
Environment=HOME=/root KUBECONFIG=/etc/rancher/k3s/k3s.yaml
ExecCondition=bash -c '! /usr/local/lib/upkg/.upkg/home-cluster/bin/manifest latest-applied-all'
ExecStart=/usr/local/lib/upkg/.upkg/home-cluster/bin/manifest apply all
TimeoutSec=1200
