[Unit]
Description=Set k3s node-label & token
ConditionPathExists=/run/initramfs/node-config.json
Before=k3s.target

[Install]
RequiredBy=k3s.target

[Service]
Type=oneshot
ExecStart=configure-k3s
