[Unit]
Description=Upload cluster.yaml from /var/lib/phxc to the cluster
DefaultDependencies=no
Requires=
After=
Before=
ConditionPathExists=/var/lib/phxc/cluster.yaml

[Install]
RequiredBy=

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=kubectl create secret
