[Unit]
Description=Create home-cluster/ on the boot partition
DefaultDependencies=no
Requires=boot.mount
After=boot.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=mkdir -p /boot/home-cluster
