[Unit]
Description=Enrolls a TPM-bound disk encryption key
Requires=boot.mount data-partition.target
After=boot.mount data-partition.target
Before=diskenc-keys-enrolled.target
ConditionSecurity=uefi-secureboot
ConditionPathExists=/boot/phxc/node.yaml
ConditionPathExists=/run/initramfs/disk-encryption.key

[Install]
WantedBy=diskenc-keys-enrolled.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=bash -ec '[[ $(get-config /boot/phxc/node.yaml disk-encryption) =~ ^tpm|auto$ ]] || return 1'
ExecStart=systemd-cryptenroll \
  --unlock-key-file /run/initramfs/disk-encryption.key \
  --tpm2-device=auto --tpm2-pcrs=7,14 --wipe-slot=2 \
  /dev/disk/by-partuuid/${DATA_UUID}
