[Unit]
Description=Enrolls a TPM-bound disk encryption key
Requires=boot.mount
After=boot.mount
Before=secure-diskenc-key-enrolled.target
ConditionSecurity=tpm2

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=bash -ec '[[ $(get-config node disk-encryption) =~ ^tpm|auto$ ]] || return 1'
ExecStart=systemd-cryptenroll \
  --unlock-key-file /etc/phxc/disk-encryption.static.key \
  --tpm2-device=auto --tpm2-pcrs=7,14 --wipe-slot=tpm2 \
  /dev/disk/by-partuuid/${DATA_UUID}
ExecStart=false
