[Unit]
Description=Enrolls a disk encryption recovery key
Requires=var-lib-phxc.mount
After=var-lib-phxc.mount
ConditionPathExists=!/var/lib/phxc/disk-encryption.recovery.key

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
UMask=0077
ExecStart=bash -eo pipefail
StandardInputText=[[ -e /var/lib/phxc/disk-encryption.recovery.key ]] || systemd-cryptenroll \
  --unlock-key-file /etc/phxc/disk-encryption.static.key \
  --recovery-key \
  /dev/disk/by-partuuid/${DATA_UUID} \
  >/var/lib/phxc/disk-encryption.recovery.key
