[Unit]
Description=Enrolls a disk encryption recovery key
Requires=var-lib-phxc.mount
After=var-lib-phxc.mount
ConditionPathExists=!/var/lib/phxc/disk-encryption.recovery.key

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
UMask=0077
ExecStart=bash -eo pipefail
StandardInputText=[[ ! -e /var/lib/phxc/disk-encryption.recovery.key ]] || exit 0; \
                  empty_pw=$(mktemp); \
                  key=$(systemd-cryptenroll --unlock-key-file "$empty_pw" --recovery-key /dev/disk/by-partuuid/${DATA_UUID}); \
                  printf '%%s' "$key" >/var/lib/phxc/disk-encryption.recovery.key; \
                  rm "$empty_pw"
