[Unit]
Description=Unenroll all TPM2 disk encryption keys other than the one for the currently booted image
Requires=switch-boot.service
After=switch-boot.service
ConditionKernelCommandLine=!phxc.diskenc-nopw

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=cryptenroll-uki --exclusive --device "/dev/disk/by-partuuid/${DATA_UUID}" \
            --record /usr/lib/pcrlock.d/800-leave-initrd.pcrlock \
            /var/lib/phxc/disk-encryption.recovery.key /boot/EFI/BOOT/BOOT${EFI_ARCH}.EFI
