[Unit]
Description=Unenrolls the bootfile disk encryption key
Requires=boot.mount secure-diskenc-key-enrolled.target upload-diskenc-recovery-key.service
After=boot.mount secure-diskenc-key-enrolled.target upload-diskenc-recovery-key.service
ConditionPathExists=/boot/phxc/disk-encryption.key

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=cryptsetup luksRemoveKey \
  /dev/disk/by-partuuid/${DATA_UUID} \
  /boot/phxc/disk-encryption.key
ExecStartPost=rm /boot/phxc/disk-encryption.key
