[Unit]
Description=Uploads the disk encryption recovery key to the cluster
Requires=install-node-packages.service workload@bootstrap.target
Wants=enroll-recovery-key.service
After=enroll-recovery-key.service install-node-packages.service workload@bootstrap.target
AssertPathExists=/var/lib/phxc/disk-encryption.recovery.key

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -eo pipefail
StandardInputText=manifest=$(kubectl -n phxc create secret generic --dry-run=client -o yaml --from-file=/var/lib/phxc/disk-encryption.recovery.key "diskenc-recovery-%H"); \
                  printf "%%s\n" "$manifest" | kubectl create -f - || \
                  printf "%%s\n" "$manifest" | kubectl replace -f -
