[Unit]
Description=Sign SSH host keys
Requires=resource-ready@step-ca.service
After=resource-ready@step-ca.service ssh.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
Environment=HOME=/root KUBECONFIG=/etc/rancher/k3s/k3s.yaml
TimeoutSec=1200
ExecStart=bash -ec ':;\
  password=$(kubectl -n smallstep get secret ssh-host-provisioner-password -o=jsonpath='{.data.password}' | base64 -d);\
  for pubkey in /etc/ssh/ssh_host_*.pub; do \
    [[ $pubkey != *-cert.pub ]] || continue;\
    printf "Signing %s\n" "$pubkey" >&2;\
    step ssh certificate --host --sign --force --provisioner=ssh-host --provisioner-password-file=<(printf "%s" "$password") \
      "$(hostname -f)" "$pubkey";\
  done'
ExecStart=systemctl reload ssh
