[Unit]
Description=Enroll the phoenix-cluster secureboot cert
DefaultDependencies=no
ConditionSecurity=tpm2
ConditionPathExists=/usr/local/lib/phxc/secureboot.der

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=bash -ec '[[ $(get-config /boot/phxc/node.yaml disk-encryption) =~ ^tpm|auto$ ]] || return 1'
ExecStart=mokutil --import /usr/local/lib/phxc/secureboot.der --password
