[Unit]
Description=Copies /run/initramfs/%i.yaml to /var/lib/phxc/%i.yaml
DefaultDependencies=no
Requires=var-lib-phxc.mount verify-config@%i.service validate-config@%i.service
After=var-lib-phxc.mount verify-config@%i.service validate-config@%i.service
ConditionPathExists=/run/initramfs/%i.yaml

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=cp /run/initramfs/%i.yaml /var/lib/phxc/%i.yaml
