[Unit]
Description=Set k3s node-label & token
Before=k3s.target
ConditionPathExists=/var/lib/phxc/node.yaml

[Install]
RequiredBy=k3s.target

[Service]
Type=oneshot
ExecStart=yq -y '{"node-label": .labels // []}' /var/lib/phxc/node.yaml
StandardOutput=file:/etc/rancher/k3s/config.yaml.d/node-label.yaml
