[Unit]
Description=Set k3s node-label & token
Before=k3s.target
ConditionPathExists=/var/lib/phxc/node.yaml

[Install]
RequiredBy=k3s.target

[Service]
Type=oneshot
ExecCondition=get-config -q /var/lib/phxc/node.yaml k3s.token
ExecStart=yq -y '{"server": .k3s.url, "token": .k3s.token}' /var/lib/phxc/node.yaml
StandardOutput=file:/etc/rancher/k3s/config.yaml.d/token.yaml
