[Unit]
Description=Set k3s node-label & token
Before=k3s.target
ConditionPathExists=/var/lib/phxc/node.yaml

[Install]
RequiredBy=k3s.target

[Service]
Type=oneshot
ExecCondition=bash -ec '[[ $(get-config -q /var/lib/phxc/node.yaml k3s.mode agent) = server ]] || false'
ExecStart=yq -y '{ \
    "cluster-cidr": [.cluster.cidrs.pod.IPV4, .cluster.cidrs.pod.IPV6], \
    "service-cidr": [.cluster.cidrs.svc.IPV4, .cluster.cidrs.svc.IPV6], \
    "tls-san": ["api.\(.cluster.domain)"] \
  }' /var/lib/phxc/cluster.yaml
StandardOutput=file:/etc/rancher/k3s/config.yaml.d/cluster.yaml
