[Unit]
Description=Create /boot/disk-encryption.key
DefaultDependencies=no
Requires=boot.mount
After=boot.mount
Before=systemd-cryptsetup@data.service
ConditionPathExists=!/boot/phxc/disk-encryption.key
ConditionPathExists=!/run/initramfs/disk-encryption.key

[Install]
WantedBy=systemd-cryptsetup@data.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=bash -ec '! cryptsetup isLuks /dev/disk/by-partuuid/${DATA_UUID} || \
  cryptsetup luksDump --dump-json-metadata /dev/disk/by-partuuid/${DATA_UUID} | jq -re ".keyslots[\"2\"] == null"'
UMask=0677
ExecStart=openssl rand -out /boot/phxc/disk-encryption.key 16
