[Unit]
Description=Replace the keyfile reference in crypttab with TPM2 options
DefaultDependencies=no
After=copy-offline-disk-encryption-key.service
Before=systemd-cryptsetup@data.service
ConditionSecurity=uefi-secureboot
ConditionPathExists=!/run/initramfs/disk-encryption.key

[Install]
WantedBy=systemd-cryptsetup@data.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -ec 'printf "# <target name> <source device>         <key file>                         <options>\n\
  data            PARTUUID=${DATA_UUID}     /dev/null                          tpm2-device=auto,luks,discard\n" >/etc/crypttab'
