[Unit]
Description=Uploads the disk encryption recovery key to the cluster
Requires=enroll-recovery-disk-encryption-key.service
After=enroll-recovery-disk-encryption-key.service
Before=disk-encryption-keys-enrolled.target
AssertPathExists=/var/lib/phxc/disk-encryption-recovery.key

[Install]
RequiredBy=disk-encryption-keys-enrolled.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=kubectl -n node create secret 'diskenc-recovery-%m' /var/lib/phxc/disk-encryption-recovery.key
