[Unit]
Description=Cache the downloaded node-config on the boot partition
DefaultDependencies=no
Requires=create-boot-cache-dir.service node-config.service credential-key.service
After=create-boot-cache-dir.service node-config.service credential-key.service
Before=keys-persisted.target
AssertPathExists=/run/initramfs/node-config.json

[Install]
RequiredBy=keys-persisted.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=systemd-creds encrypt /run/initramfs/node-config.json /boot/home-cluster/node-config.json.enc
