[Unit]
Description=Copy the machine-id to the boot-partition
DefaultDependencies=no
Requires=boot-cache-dir.service systemd-machine-id-commit.service
After=boot-cache-dir.service systemd-machine-id-commit.service
Before=keys-persisted.target
ConditionPathExists=!/boot/phoenix-cluster/machine-id
AssertPathExists=/run/machine-id

[Install]
RequiredBy=keys-persisted.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=cp /run/machine-id /boot/phoenix-cluster/machine-id
