[Unit]
Description=Encrypt the authentication key with the credential key and write it to the boot-partition
DefaultDependencies=no
Requires=boot-cache-dir.service credential-key.service authn-key.service
After=boot-cache-dir.service credential-key.service authn-key.service
Before=keys-persisted.target
ConditionPathExists=!/boot/home-cluster/authn-key.json.enc
AssertPathExists=/run/initramfs/authn-key.json

[Install]
RequiredBy=keys-persisted.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=systemd-creds encrypt /run/initramfs/authn-key.json /boot/home-cluster/authn-key.json.enc
