[Unit]
Description=If systemd-pcrlock fails use the surrogate key to encrypt the credential key and write it to the boot-partition
DefaultDependencies=no
Requires=create-boot-cache-dir.service credential-key.service surrogate-key-available.target
After=create-boot-cache-dir.service credential-key.service surrogate-key-available.target
Before=keys-persisted.target
ConditionPathExists=!/boot/home-cluster/credential.secret.enc
AssertPathExists=/var/lib/systemd/credential.secret

[Install]
WantedBy=keys-persisted.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=surrogate-key encrypt /var/lib/systemd/credential.secret /boot/home-cluster/credential.secret.enc
