[Unit]
Description=Copy the random secret for deriving the surrogate key to the boot partition
DefaultDependencies=no
Requires=boot-cache-dir.service credential-key.service surrogate-key.service
After=boot-cache-dir.service credential-key.service surrogate-key.service
Before=keys-persisted.target
ConditionPathExists=!/boot/home-cluster/random-secret.bin
AssertPathExists=/run/initramfs/random-secret.bin

[Install]
WantedBy=keys-persisted.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=cp /run/initramfs/random-secret.bin /boot/home-cluster/random-secret.bin
