[Unit]
Description=Blindly copies /boot/phxc/%i.yaml to /run/initramfs/%i.yaml.verified
DefaultDependencies=no
Requires=boot.mount
After=boot.mount
ConditionPathExists=/boot/phxc/%i.yaml
AssertPathExists=!/run/initramfs/%i.yaml.verified

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=cp /boot/phxc/%i.yaml /run/initramfs/%i.yaml.verified
