[Unit]
Description=Replace the keyfile reference in crypttab with TPM2 options
After=copy-offline-disk-encryption-key.service
Before=cryptsetup-pre.target
ConditionSecurity=uefi-secureboot
ConditionPathExists=!/run/initramfs/disk-encryption.key

[Install]
WantedBy=cryptsetup-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -ec 'printf "# <target name> <source device>         <key file>                         <options>\n\
  data            PARTUUID=${DATA_UUID}     /dev/null                          tpm2-device=auto,luks,discard\n" >/etc/crypttab'
