[Unit]
Description=Configure systemd-networks using node-config
DefaultDependencies=no
After=systemd-networkd.service
ConditionPathExists=/boot/phxc/node.yaml

[Install]
WantedBy=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=get-config /boot/phxc/node.yaml fixedIPs
ExecStart=bash -e
StandardInputText=for macaddr in $(yq -r '(.fixedIPs // {}) | keys[]' /boot/phxc/node.yaml); do \
    yq -r --arg macaddr "$macaddr" '\
      ([.fixedIPs[$macaddr][] | "Address=\(.)"] | join("\n")) as $addrs | \
      "[Match]\nMACAddress=\($macaddr)\n[Network]\n\($addrs)\n"' \
      > /etc/systemd/network/${macaddr//:/-}.network \
  done
ExecStartPost=-systemctl reload systemd-networkd
