[Unit]
Description=Download the node configuration and reboot if it has changed
Requires=systemd-timesyncd.service authn-key.service node-config.service
After=systemd-timesyncd.service authn-key.service node-config.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
ExecStart=update-node-config
