[Unit]
Description=Check the node-config for updates every minute

[Install]
WantedBy=timers.target

[Timer]
OnCalendar=*-*-* *:*:00
RandomizedDelaySec=59
FixedRandomDelay=true
Persistent=true
