[Unit]
Description=Copy the rootimg from the boot partition
AssertPathExists=!/run/initramfs/root.img
Requires=create-node-state.service mount-boot.service
After=create-node-state.service mount-boot.service
Before=download-rootimg.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=bash -c 'test -e /boot/home-cluster/root.${ROOT_SHA256}.img'
ExecStart=cp /boot/home-cluster/root.${ROOT_SHA256}.img /run/initramfs/root.img.tmp
ExecStart=set-node-state rootimg.src /boot/home-cluster/root.${ROOT_SHA256}.img
