[Unit]
Description=Copy the rootimg from the boot partition
ConditionPathExists=!/run/initramfs/root.img
Requires=create-node-state.service boot.mount
After=create-node-state.service boot.mount
Before=download-rootimg.service

[Install]
WantedBy=rootimg.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=cp /boot/home-cluster/root.${ROOT_SHA256}.img /run/initramfs/root.img.tmp
ExecStart=set-node-state rootimg.src /boot/home-cluster/root.${ROOT_SHA256}.img
