[Unit]
Description=Download the rootimg from the boot server
ConditionPathExists=!/run/initramfs/root.img
Requires=find-boot-server.service
After=find-boot-server.service

[Service]
Type=oneshot
RemainAfterExit=yes
# Raspberry PIs don't have an RTC and getting NTP up and running in initramfs
# is not feasible. We don't actually need a secure connection since we will
# be checking the SHA-256 sum of the rootimg anyways.
ExecStart=curl-boot-server images/${VARIANT}/root.${ROOT_SHA256}.img -o/run/initramfs/root.img.tmp --insecure
ExecStart=set-node-state rootimg.src boot-server
