[Unit]
Description=Download the rootimg from the boot server
ConditionPathExists=!/run/initramfs/root.img
Requires=find-boot-server.service
After=find-boot-server.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=curl-boot-server images/${VARIANT}/root.${ROOT_SHA256}.img -o/run/initramfs/root.img.tmp
ExecStart=set-node-state rootimg.src boot-server
