[Unit]
Description=Broadcasts a DHCPDISCOVER request to find the boot-server
AssertPathExists=/run/initramfs/node-state.json
Requires=create-node-state.service systemd-networkd-wait-online.service
After=create-node-state.service systemd-networkd-wait-online.service

[Install]
WantedBy=rootimg.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=find-boot-server
