[Unit]
Description=Move the rootimg into place
ConditionPathExists=/run/initramfs/root.img.tmp
Requires=verify-rootimg.service
After=verify-rootimg.service
Before=rootimg.target

[Install]
RequiredBy=rootimg.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=mv /run/initramfs/root.img.tmp /run/initramfs/root.img
