[Unit]
Description=Reached when the rootimg has been obtained and verified
Wants=copy-rootimg.service download-rootimg.service verify-rootimg.service move-rootimg.service
ConditionPathExists=/run/initramfs/root.img
