[Unit]
Description=Setup the admin sudo password & authorized key
ConditionPathExists=/boot/phxc/cluster.yaml
ConditionPathExists=!/home/admin/.ssh/authorized_keys

[Service]
Type=oneshot
ExecStart=bash -e
StandardInputText=pwhash=$(get-config /boot/phxc/cluster.yaml admin.pwhash); \
  ssh_key=$(get-config /boot/phxc/cluster.yaml admin.ssh-key); \
  usermod -p "$pwhash" admin; \
  if ${DEBUG}; then usermod -p "$pwhash" root; \
  else usermod -L root; fi; \
  printf "%s\n" "$ssh_key" >> "/home/.ssh/authorized_keys"
